
<div class="services-section">
  <h1><%= t('companies.index.title') %></h1>

  <table>
    <thead>
      <tr>
        <th>Asociación</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @companies.each do |company| %>
      <tr>
        <td><%= link_to company.name, company %></td>
        <td><%= link_to 'Editar', edit_company_path(company) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Nueva Asociación', new_company_path %>
</div>
